.cs-hidden {
	display: none !important;
}

.cs-setting-group .setting-item {
	background: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	margin-bottom: 0 !important;
	border-bottom: 1px solid var(--background-modifier-border);
	padding: var(--size-4-4) var(--size-4-6);
}

.cs-setting-group .setting-item:last-child {
	border-bottom: none;
}

.cs-setting-group {
	background: var(--background-secondary);
	border-radius: var(--radius-m);
	margin-bottom: var(--size-4-4);
}


.custom-selectors-plugin-select {
	width: 100%;
	background: transparent;
}

.custom-selectors-plugin-select.mod-base {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--background-primary);
	color: var(--text-normal);
	border: none;
	z-index: 10;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0 4px;
}
